<div class="container">
  <div class=" column is-6 is-offset-3">
    <div class="card">
      <div class="card-header has-background-primary">
        <p class="card-header-title is-centered is-size-4 has-text-white has-text-centered">
          <ng-content select=".auth-form-title"></ng-content>
        </p>
      </div>
      <div class="card-content">
        <ng-content select=".error"></ng-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input id="email" [ngClass]="{'is-danger': fieldInvalid('email'), 'is-success': fieldValid('email')}"
                class="input is-medium" type="email" placeholder="Email" formControlName="email">
              <span id="email-icon" [ngClass]="{'has-text-danger': fieldInvalid('email'), 'has-text-success': fieldValid('email')}"
                class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span id="email-check" class="icon is-small is-right has-text-success" *ngIf="fieldValid('email')">
                <i class="fas fa-check"></i>
              </span>
              <span id="email-warning" class="icon is-small is-right has-text-danger" *ngIf="fieldInvalid('email')">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
            </div>
            <p id="email-format-invalid" class="help is-danger" *ngIf="emailFormatInvalid">This email format is invalid</p>
            <p id="email-required" class="help is-danger" *ngIf="fieldRequired('email')">Email address is required</p>
          </div>
          <div class="field" *ngIf="isRegistering">
            <div class="control has-icons-left has-icons-right">
              <input id="username" [ngClass]="{'is-danger': fieldInvalid('username'), 'is-success': fieldValid('username')}"
                class="input is-medium" type="text" placeholder="Username" formControlName="username">
              <span id="username-icon" [ngClass]="{'has-text-danger': fieldInvalid('username'), 'has-text-success': fieldValid('username')}"
                class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span id="username-check" class="icon is-small is-right has-text-success" *ngIf="fieldValid('username')">
                <i class="fas fa-check"></i>
              </span>
              <span id="username-warning" class="icon is-small is-right has-text-danger" *ngIf="fieldInvalid('username')">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
            </div>
            <p class="help is-success" *ngIf="false">This username is available</p>
            <p id="username-required" class="help is-danger" *ngIf="fieldRequired('username')">Username is required</p>
          </div>
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input id="password" [ngClass]="{'is-danger': fieldInvalid('password'), 'is-success': fieldValid('password')}"
                class="input is-medium" type="password" placeholder="Password" formControlName="password">
              <span id="password-icon" [ngClass]="{'has-text-danger': fieldInvalid('password'), 'has-text-success': fieldValid('password')}"
                class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              <span id="password-check" class="icon is-small is-right has-text-success" *ngIf="fieldValid('password')">
                <i class="fas fa-check"></i>
              </span>
              <span id="password-warning" class="icon is-small is-right has-text-danger" *ngIf="fieldInvalid('password')">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
            </div>
            <p id="password-required" class="help is-danger" *ngIf="fieldRequired('password')">Password is required</p>
          </div>
          <button class="button is-block is-info is-medium is-fullwidth" type="submit" [disabled]="!formValid">
            <ng-content select=".auth-form-button"></ng-content>
          </button>
        </form>
      </div>
    </div>
    <p class="has-text-gray has-text-centered">
      <ng-content select="a"></ng-content>
    </p>
  </div>
</div>