<div class="container has-text-centered">
  <div class=" column is-5 is-offset-4">
    <div class="card">
      <div class="card-header has-background-primary">
        <p class="card-header-title is-centered is-size-4 has-text-white">Sign in</p>
      </div>
      <div class="card-content">
        <p class="subtitle has-text-grey">Please sign in to proceed.</p>
        <form>
          <div class="field">
            <div class="control">
              <input class="input is-medium" type="email" placeholder="Email" autofocus="">
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input class="input is-medium" type="password" placeholder="Password">
            </div>
          </div>
          <div class="field">
            <label class="checkbox">
              <input type="checkbox">
              Remember me
            </label>
          </div>
          <button class="button is-block is-info is-medium is-fullwidth">Sing in</button>
        </form>
      </div>
    </div>
    <p class="has-text-grey">
      <a href="../">Register</a> &nbsp;·&nbsp;
      <a href="../">Forgot Password</a> &nbsp;·&nbsp;
      <a href="../">Need Help?</a>
    </p>
  </div>
</div>